:root {
  --text-white: #fff;
  --text-black: #000;
  --text-greay: #999;
  --text-title: #323232;
  --accent: #4985ff;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-greay);
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: potnter;
  font-family: inherit;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  font-style: normal;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(52 / 36);
}
.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* ----------------------HEADER---------------------------- */
.header {
  background-color: rgb(90, 79, 79);
  padding-top: 40px;
  padding-bottom: 40px;
}
.header-link {
  font-weight: 500;
  color: var(--text-white);

  line-height: 1.25;
}
/* ---------------------------HERO-------------------------- */
.hero {
  background-color: rgb(29, 25, 25);
  padding-top: 220px;
  padding-bottom: 315px;
}
.hero-text {
  font-weight: 500;
  color: var(--text-white);
  line-height: 1.25;
  text-align: center;
  margin-bottom: 20px;
}

.hero-title {
  font-weight: 800;
  color: var(--text-white);
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  max-width: 820px;
  margin: 0 auto;
  margin-bottom: 50px;
}
/* ---------------------------BUTTON-------------------------- */
.button {
  font-family: inherit;
  font-weight: 500;
  color: var(--text-white);
  line-height: 1.25;
  text-align: center;
  background-color: var(--accent);
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  min-width: 200px;
  min-height: 45px;
  border: none;
}
/* ---------------------------SERVICES-------------------------- */
.services {
  padding-top: 110px;
  padding-bottom: 105px;
}
.services-title {
  color: var(--text-title);
  text-align: center;
  margin: 0 auto;
  max-width: 740px;
  margin-bottom: 50px;
}
.services-post-title {
  line-height: calc(25 / 16);
  text-align: center;
  margin: 0 auto;
  max-width: 730px;
  margin-bottom: 70px;
}
.services-item-title {
  font-weight: 600;
  color: var(--text-black);
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 12px;
}
.services-text {
  font-size: 14px;
  line-height: clac(22 / 14);
}
.services-list {
  display: flex;
}
.services-item {
  width: 353px;
}
.services-item:not(:last-child) {
  margin-right: 27px;
}

/* -----------------------STANDARTS---------------------------------------- */

.standarts {
  padding-top: 100px;
  padding-bottom: 70px;
}
.standarts-wrap {
  width: 390px;
  padding-left: 10px;
}
.standarts-title {
  color: var(--text-title);
  margin-bottom: 40px;
}
.standarts-post-title {
  line-height: calc(25 / 16);
  margin-bottom: 30px;
}
.standarts-list {
  display: flex;
}
.standarts-link {
  font-weight: 500;
  color: var(--accent);
}

.standarts-text {
  font-size: 14px;
  line-height: clac(25 / 14);
}
.standarts-numb {
  color: var(--text-black);
  font-size: 36px;
  line-height: calc(52 / 36);
}
.standarts-bottom-line {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 90px;
  margin-bottom: 70px;
}
.standarts-item:not(:last-child) {
  margin-right: 100px;
}
/* -----------------------WORKS---------------------------------------- */
.works {
  background-color: #5f12d0;
  padding-top: 100px;
  padding-bottom: 85px;
}
.works-botton-line {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 85px;
}
.works-header {
  margin-bottom: 70px;
}
.works-title {
  color: var(--text-white);
  width: 540px;
}
.works-img {
  margin-bottom: 30px;
  border-radius: 10px;
}
.works-list {
  display: flex;
}
.works-item:not(:last-child) {
  margin-right: 30px;
}
.works-item-title {
  font-size: 600;
  color: var(--text-black);
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 30px;
}
.works-numb {
  font-size: 600;
  color: var(--accent);
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 30px;
}
.works-text {
  line-height: calc(25 / 16);
}
.works-link {
  font-weight: 500;
  color: var(--accent);
  line-height: calc(19 / 16);
}
/* -----------------------PROJECTS---------------------------------------- */
.projects {
  padding-top: 100px;
  padding-bottom: 130px;
}
.projects-title {
  color: var(--text-black);
  margin: 0 auto;
  margin-bottom: 50px;
  width: 350px;
}
.projects-text {
  line-height: calc(25 / 16);
  margin: 0 auto;
  margin-bottom: 70px;
  width: 730px;
}
.projects-list {
  display: flex;
  margin-bottom: 50px;
}
.projects-item:not(:last-child) {
  margin-right: 30px;
}
/* -----------------------VIDEO---------------------------------------- */
.video {
  background-color: #323232;
  padding-top: 70px;
  padding-bottom: 85px;
}
.video-title {
  color: var(--text-white);
  text-align: center;
  width: 444px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.video-text {
  color: var(--text-white);
  line-height: calc(25 / 16);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
  width: 730px;
}
.video-bottom-line {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 85px;
}

/* -----------------------FORM---------------------------------------- */
.form {
  padding-bottom: 85px;
  padding-top: 0;
}

.form-sign {
  display: block;
  font-weight: 600;
  color: var(--text-black);
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.form-text {
  line-height: calc(25 / 16);
  text-align: center;
  width: 730px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.input::placeholder {
  font-size: 13px;
  line-height: calc(20 / 13);
}
.form-text-bottom {
  font-size: 13px;
  line-height: calc(20 / 13);
  text-align: center;
}

/* -----------------button form---------------------- */
.button-form {
  min-width: 190px;
  border-radius: 0 30px 30px 0;
  margin: 0;
}
.form-wrap {
  display: flex;
  box-shadow: 0 0 20px rgba(111, 111, 111, 1);
  border-radius: 30px;
  width: 490px;
  justify-content: space-between;
  border: 1 px solid #f2f2f2;
  margin: 0 auto;
  margin-bottom: 35px;
}

.input {
  border-radius: 30px 0 0 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 33px;
  border: none;
  width: 400px;
}
.button:hover {
  background-color: #5f12d0;
}

/* -----------------------FOOTER---------------------------------------- */
.footer {
  padding-top: 85px;
  padding-bottom: 35px;
}
.footer-text {
  font-weight: 600;
  color: var(--text-black);
  font-size: 18px;
  line-height: calc(22 / 18);
  margin-bottom: 35px;
}
.footer-link {
  color: var(--text-greay);
  font-size: 14px;
  line-height: calc(22 / 14);
  text-decoration: none;
}
.footer-copyright {
  font-size: 13px;
  line-height: calc(20 / 13);
  text-align: center;
  margin-top: 30px;
}
.footer-bottom-line {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 85px;
}
.footer-list-main {
  display: flex;
}
.footer-item-main {
  min-width: 245px;
}
.footer-item-main:not(:last-child) {
  margin-right: 30px;
}
.footer-item:not(:last-child) {
  margin-bottom: 30px;
}
